*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_bg_img{
    background-image:url(../Img/headar_img.png);
    background-repeat: no-repeat;
    
}
.col-50{
    width: 50%;
}
.row{
    align-items: center;
    display: flex;
    justify-content: space-between;
}