* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fbfbfb;
}

nav {
    width: 100%;
}

.nav_menu li {
    list-style: none;
    padding: 20px 10px;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    font-family: "Merriweather";
}

.nav_menu {
    justify-content: center;
}

.row {
    display: flex;
}

.aic {
    align-items: center;
}

.tac {
    text-align: center;
}

.jsb {
    justify-content: space-between;
}

.contenar {
    width: 1300px;
    margin: 0 auto;
}

.po_rl {
    position: relative;
}

.po_ab {
    position: absolute;
}

.col_50 {
    width: 50%;
}

.col_25 {
    width: 25%;
}

.col_30 {
    width: 30%;
}

.col_40 {
    width: 40%;
}

.col_60 {
    width: 60%;
}

.col_80 {
    width: 80%;
}

.col_20 {
    width: 20%;
}

.logo {
    padding: 50px 0 20px;
}

.tar {
    text-align: right;
}

/* /..................................................section-1 Start hear.............................................../ */

.sec_1_text {
    width: 18%;
    right: 100px;
    top: 80px;
}

.sec_1_title {
    background-color: #000000;
    color: white;
    width: 1312px;
}

/* /..................................................section-2 Start hear.............................................../ */
.line {
    position: absolute;
    top: 30px;
    right: 0px;
}

.sec_2 {
    padding: 50px 0 20px;
}

.sec_2 h2 {
    font-size: 26px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
    padding: 50px 0 20px;
}

.sec_2_div_1 {
    padding: 20px 40px;
    text-align: right;
    position: relative;
}

.sec_2_div_1 h4 {
    padding: 10px 0;
    font-size: 15px;
}

.sec_2_div_1 p {
    padding: 0 0 30px;
    font-size: 14px;
}

.sec_2_div_2 img {
    padding: 30px 0 0 20px;
}

.sec_2_div_3 {
    margin: 50px;
}

.sec_2_div_3 h4 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
}

.sec_2_div_3 button {
    background-color: black;
    color: white;
    padding: 8px 15px;
    border: none;
    font-size: 10px;
}

.sec_2_div_3_1 {
    text-align: left;
    padding: 50px 0 0;
}

.sec_2_div_3_1 h4 {
    padding: 5px 0 5px;
}

.sec_2_div_3_2 {
    padding: 40px 0 0;
}


/* /..................................................section-3 Start hear.............................................../ */
.sec_3 {
    overflow: hidden;
}

.sec_3_div_1 {
    text-align: right;
    position: relative;
    top: 460px;
}

.sec_3_div_1 h4 {
    font-size: 15px;
    padding: 0 55px 15px 0;
}

.sec_3_div_1 img {
    padding: 15px 55px 0 0;
}

.sec_3_div_1 p {
    width: 60%;
    justify-content: right;
    margin: 0 0 0 100px;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
    text-align: right;
}

.sec_3_div_3 h4 {
    font-size: 15px;
    padding: 0 0 15px 80px;
    text-align: left;
}

.sec_3_div_3 {
    padding: 0 0 0 80px;
}

.sec_3_div_3 p {
    justify-content: right;
    padding: 0 0 0 80px;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
    text-align: left;
}


/* /..................................................section-4 Start hear.............................................../ */
.cart h3 {
    font-size: 25px;
    padding: 10px 0 0 20px;
    text-align: left;
}

.cart h4 {
    font-size: 15px;
    padding: 0 0 10px 20px;
    text-align: left;
}

.cart p {
    font-size: 15px;
    padding: 0 0 10px 20px;
    text-align: left;
}

.cart_button_1 {
    font-size: 15px;
    padding: 10px 30px;
    text-align: left;
    justify-content: right;
    background-color: #000000;
    color: white;
    border: none;
    /* margin: 0 50px; */
}

.cart_button_2 {
    margin: 0 50px 0 50px;
    font-size: 15px;
    padding: 10px 30px;
    text-align: left;
    justify-content: right;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.sec_4 h2 {
    font-size: 35px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #272525;
    font-weight: 300;
    font-family: "Merriweather";
    text-align: center;
    padding: 50px 0;
}

.sec_4 {
    padding: 50px 0;

}


/* /..................................................section-5 Start hear.............................................../ */
.sec_5 {
    padding: 50px 0;
}

.sec_5 img {
    width: 80%;
}

.sec_5_div {
    height: 30px;
    width: 300px;
    background-color: #000000;
    right: 500px;
    top: 380px;
    justify-content: center;
}

.sec_5_div span {
    color: white;
    margin: 10px 0 0 0;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Merriweather";
}


/* /..................................................section-6 Start hear.............................................../ */
.sec_6 {
    padding: 100px 0;
}

.sec_6_div_1 {
    padding: 80px 0;
}

.sec_6_div_2 {
    padding: 80px 0;
}

.sec_6 h2 {
    font-size: 51px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
    text-align: left;
    padding: 0 0 40px;

}

.sec_6 h4 {
    padding: 20px 0 30px;
    font-size: 26px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
}

.sec_6 p {
    width: 60%;
    font-size: 19px;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
}

.sec_6_div_2 img {
    width: 100%;
    padding: 0 50px 0 0;
}


/* /..................................................section-7 Start hear.............................................../ */
.sec_7_top_title {
    background-color: #000000;
    height: 20px;
    width: 100%;
    color: white;
}

.sec_7_top_title p {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Merriweather";
}

.sec_7 h2 {
    font-size: 26px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
    padding: 50px 0 10px 50px;
}

.sec_7_img_1 {
    padding: 0 0 0 50px;
    margin: 0 100px 0 0;
    width: 470px;
}

.sec_7_img_2 {
    padding: 0 0 10px 90px;
    height: 300px;
}

.sec_7_img_3 {
    height: 280px;
    padding: 12px 0 0 90px;
}

.sec_7_div_2 h3 {
    font-size: 20px;
    text-align: left;
}

.sec_7_div_2 h4 {
    font-size: 15px;
    text-align: left;
    padding: 0 0 10px;
}

.sec_7_div_2 p {
    font-size: 13px;
    text-align: left;
}

.sec_7_button_1 {
    font-size: 10px;
    padding: 8px 25px;
    text-align: left;
    justify-content: right;
    background-color: #000000;
    color: white;
    border: none;
    margin: 10px 0 0 0;

}

.sec_7_button_2 {
    font-size: 10px;
    padding: 7px 25px;
    text-align: left;
    justify-content: right;
    background-color: white;
    color: black;
    border: 2px solid black;
    /* margin: 0 0 0 100px; */
}

.sec_7_taxt_1 {
    padding: 80px 0 50px;
}

.sec_7_taxt_2 {
    padding: 100px 0 0;
}


/* /..................................................section-8 Start hear.............................................../ */
.sec_8_div_2 {
    top: 200px;
    right: 50px;
    text-align: left;
}

.sec_8_div_1 {
    bottom: 60px;
    left: 100px;
    text-align: left;
}

.sec_8 {
    padding: 50px 0;
}

.sec_8_div_2 h2 {
    font-size: 28px;
    letter-spacing: 3px;
    line-height: 38px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
    width: 63%;
}

.sec_8_div_1 h3 {
    font-size: 26px;
    letter-spacing: 3px;
    line-height: 30px;
    padding: 0 0 15px 0;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
    width: 23%;
}

.sec_8_div_1 h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    font-family: "Merriweather";
    padding: 15px 0 0;
}

.sec_8_div_1 p {
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
    width: 30%;
}

.sec_8_div_1 input {
    padding: 8px 40px;
    background-color: #fbfbfb;
    border: none;
}

.sec_8 img {
    width: 95%;
}

.sec_8_div_1 button {
    background-color: #000000;
    color: white;
    padding: 8px 30px;
    border: none;
}


/* /..................................................Fotter Start hear.............................................../ */
.fotter_top_title {
    background-color: #000000;
    color: white;
    width: 100%;
    height: 30px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Merriweather";
    justify-content: center;
    padding: 5px 0 0;
}
.fotter{
    padding: 100px 0 0 0;
}
.fotter_manu{
    padding: 100px 0 0 50px;
}
.fotter_logo{
    padding: 100px 0 0 0;
    top: 80px;
}
.fotter_cart{
    padding: 100px  0;
}
.members{
    padding: 0 0 0 50px;
}
.fotter_manu li {
    list-style: none;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
}

.members h3{
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
    padding: 50px 50px;
}
.members h4 {
    padding:0 0 20px 50px;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
}

.members input {
    margin:0 0 10px 50px;
    background-color: #fbfbfb;
    border: 1px solid #000000;
    padding: 10px 40px;
}

.members button {
    margin:0 0 10px 50px;
    background-color: #000000;
    color: white;
    padding: 5px 68px;
}

.members h5 {
    padding:0 0 0 50px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 13px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    font-family: "Merriweather";
}
.members p {
    padding:0 0 0 50px;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 13px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
}