* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.row {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.top_header {
    background-color: black;
    padding: 40px 0;
}

.tac {
    text-align: center;
}

.aic{
    align-items: center;
}

.nev_menu {
    font-size: 30px;
    list-style: none;
    display: flex;
}

.nev_menu a {
    text-decoration: none;
    color: black;
    padding: 0 100px;

}

.d_flex {
    display: flex;
}

.main_header {
    background-image: url(../img/main_header_img.png);
}

.main_header_text {
    color: white;
    padding: 100px 100px;

}

.main_header_text h2 {
    font-size: 70px;
    width: 10%;
    padding: 100px 0 20px 100px;
    text-align: center;
}

.main_header_text p {
    font-size: 20px;
    width: 40%;
    padding: 20px 0 100px 0;
}

.col-50 {
    width: 50%;
}

/* /.............................................................section_1.............................................................../ */

.sec_1_div{
    background-color: white;
    color: black;
    margin: 0 auto;
}
.section_1{
    padding: 40px;
    background-color: black;
}
.sec_1_div h2{
    font-size: 70px;
    width: 20%;
    /* padding: 50px 0 20px 0; */
}

.sec_1_div p{
    font-size: 20px;
    width: 40%;
    
}