*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nev{
    list-style: none;
    color: white;
    gap: 20px;
    font-size: 20px;
}
header{
    background-color: #daac00;
    padding: 10px 80px ;
    
}
.d-flex{
    display: flex;
}
.aic{
    align-items: center;
}
.tac{
    text-align: center;
}
.jc_sb{
    justify-content: space-between;
}
input{
    background-color: #fcc302;
    border: none;
    padding: 8px 30px ;
    place-content: white;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
/* ................................................................sec_one................................................................... */
.sec_one{
    background-color: #fcc302;

}
.sec_one_text{
    color: white;
}
.sec_one_text h2{
    font-size: 70px;
    width: 48%;
}
.sec_one_text p{
    font-size: 20px;
    width: 30%;
}
